//body
body {
    font-family: monospace, Helvetica, sans-serif !important;
    padding-top: 2%;
}

//Buttons
.btn {
    background-color: rgb(136,18,8);
    min-width: 48px;
}

.btn-back:hover{
    
}

.btn-create, .btn-back, .btn-submit {
    margin: 2%;
}

a, button{
    color:rgb(239, 243, 241) !important;
    text-decoration: none;
}

 a:hover {
    color:rgb(239, 243, 241) !important;
    text-decoration: none;
}

//Login page
#login { 
  padding-top: 100px;
  padding-bottom: 30px;
}

.login h1 { 
    color: black; 
    letter-spacing:1px; 
    text-align:center; 
    font-weight: 700;
    font-size: 30px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

.login > form > .btn {
    background-color: rgb(136,18,8) !important;
    font-weight:700;
    font-size: 20px;
}

.login > form > .btn:hover {
    border: 5px solid rgb(255,255,255) !important;
}

//Navigation
.navbar {
    background-color: rgb(136,18,8);
    
}

.navbar-brand {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    padding: 3% 1% 1% 3%;
}

.navbar-header {
    padding: 1% 1% 1% 1%;
}

.navbar-nav > li > a{
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}

.navbar-header > .brand-img > img{
    max-width:10%; 
    height:auto; 
    float:left; 
    margin: 10px 7px 3.5px 3.5px;
}

.nav-pills > .dropdown > .dropdown-menu {
    background-color: rgb(47, 47, 48);
    min-width: 215px !important;
    border: 1px solid rgb(255,255,255);
}

.nav-pills > .dropdown > .dropdown-menu > .dropdown-header {
    font-size: 17px;
}

.nav-pills > .dropdown > .dropdown-menu > li > a:hover{
    background-color: rgb(136,18,8);
    border: 2px solid rgb(255,255,255);
}

.navbar > .container > .navbar-header {
    margin-bottom: !important;
}

//Links
.links {
    margin-top: 3%;
}

.links > .nav-pills > li > a {
    border: 2px solid rgb(255,255,255);
    background-color: rgb(47, 47, 48);
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
}

.links > ul {
    margin-top: 80px;
    font-weight: 700;
}

.links > .nav-pills > li > a:hover { 
    border: 2px solid rgb(255,255,255);
    background-color: rgb(136,18,8);
}

//Styles for cuser.blade.php
.main {
    padding: 100px 15px; 
    max-width: 80%;
}

